{% extends "account/base.html" %}
{% load i18n %}

{% block content %}
  <div class="alert alert-danger" role="alert">
    {% blocktrans trimmed %}
      Sorry, but registration is closed at this moment. Come back later!
    {% endblocktrans %}
  </div>

  <div class="text-center">
    <a href="{% url "account:login" %}">{% trans "Sign in" %}</a>
  </div>
{% endblock %}
